.favTitle{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0;
}
.FavoritePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}